<!DOCTYPE html>

{% extends "base.html" %}

{% block content_container %}

  <style media="screen">
    #stock{
      height:40px;
      width:600px;
      font-size:18px;
    }
    #stockbuttn{
      height:40px;
      font-size: 17px;
      width:70px;
    }
  </style>


      <div class="container">

        <div class="text-center">

        <form class="" action="{% url 'viewstock:stockredirect' %}" method="post" autocomplete="off">
          {% csrf_token %}
          <input type="text" name="stock" id="stock" placeholder="Enter stock name/symbol">
          <input type="submit" id='stockbuttn' value="Submit">
        </form>
      </div>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
        $(function () {
            $("#stock").autocomplete({
                source: '{% url 'viewstock:home' %}',
                minLength: 2
            });
        });
      </script>

    </div>

      {% block stockinfo %}
      {% endblock  %}

{% endblock %}
