{% extends "viewstock/bar.html" %}


 {% block stockinfo %}
<div class="">
<style media="screen">
  .mybody{
      min-height: 700px;
      min-width: 600px;
      cursor: pointer;
  }
</style>

{% for message in messages %}
<div class="container-fluid p-0">
  <br>
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
</div>
{% endfor %}

<div class="jumbotron mybody">
    <h1>{{name}}({{ticker}}) </h1>
    <h3>Current Price : <span class='price'></span></h3>
    <h4>Change: <span class='change'></span>(<span class='pchange'></span>%) </h4>
    <h5>Open: <span class='open'></span> </h5>
    <h5>High: <span class='dayhigh'></span> </h5>
    <h5>Low: <span class='daylow'></span> </h5>
    <h5>52-wk high: <span class='high52'></span> </h5>
    <h5>52-wk low: <span class='low52'></span> </h5>
    <h5>Previous Close: <span class='previousclose'></span> </h5>
<br>
<br>
<div class="tradingview-widget-container">
  <div id="tradingview_0ee41"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
    new TradingView.widget(
      {
        'autosize':true,
        "symbol": "BSE:{{ticker}}",
        "interval": "1",
        "timezone": "Asia/Kolkata",
        "theme": "light",
        "style": "2",
        "locale": "in",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_0ee41"
      });
  </script>
</div>
<br>
<div class="container text-center">
  <small>Please note that this chart displays one day old data due to security reasons. Please <a href="https://in.tradingview.com/symbols/BSE-{{ticker}}/">click here</a> to go to the TradingView page for the updated chart </small>
</div>

<div class="jumbotron">
  <h1>Trade Now</h1>

  <h2>Buy</h2>
  <h3>Cash in hand: Rs {{cash}}</h3>
  <h3>Market Value</h3>
  <h4>Price: <span id='price-buying-capacity' class='price'></span></h4>
  <h5>Buying Capacity: <span id='buyingcapacity'></span> </h5>
  <form class="Buy-mkt" action="/viewstock/stockinfo/{{ticker}}" method="post" onsubmit="return checkForTheCondition();">
    {% csrf_token %}
    <label for="">Quantity: </label>
    <input type="number" step="any" id="quantity-mkt" name="quantity-mkt" value="0" required onchange="change_quantity_mkt();"><br>
    <span id="error_quantity_mkt"></span>
    <h5>Total amount: Rs <span id="total_mkt">0</span> </h5>
    <h4>
    <label for="mkttakeprofitcheckbox">Take profit:</label>
    <input type="checkbox" id='mkttakeprofitcheckbox' name="takeprofit" value="" onclick="checkboxtakeprofitmkt();
                                                                              document.getElementById('mkt-1').disabled = !this.checked;
                                                                               document.getElementById('mkt-2').disabled = !this.checked;
                                                                               document.getElementById('mkt-3').disabled = !this.checked;">
    </h4>
    <label for="">Price: </label>
    <input type="number" step="any" id="mkt-1" required disabled name="price-profit" value="" onchange = "mktprofitprice()">
    <label for="">Percentage: </label>
    <input type="number" step="any" id="mkt-2" required disabled name="percentage-profit" value="" onchange="mktprofitpercent()">
    <label for="">Change: </label>
    <input type="number" step="any" id="mkt-3" required disabled name="value-profit" value="" onchange = "mktprofitchange()">
    <span id="error_takeprofit_mkt"></span>
    <h4>
    <label for="stoplossmkt">Stop Loss:</label>
    <input type="checkbox" id='stoplossmkt' name="stoploss" value="" onclick="checkboxstoplossmkt();
                                                                           document.getElementById('mkt-4').disabled = !this.checked;
                                                                           document.getElementById('mkt-5').disabled = !this.checked;
                                                                           document.getElementById('mkt-6').disabled = !this.checked;">
    </h4>
    <label for="">Price: </label>
    <input type="number" step="any" id="mkt-4" required disabled name="price-loss" value="" onchange="mktlossprice()">
    <label for="">Percentage: </label>
    <input type="number" step="any" id="mkt-5" required disabled name="percentage-loss" value="" onchange="mktlosspercent()">
    <label for="">Change: </label>
    <input type="number" step="any" id="mkt-6" required disabled name="value-loss" value="" onchange="mktlosschange()"><br>
    <span id="error_stoploss_mkt"></span>
    <label for="">Validity: </label>
    <select class="" name="validity" id="validity-mkt">
      <option value="GTC">GTC(Good till cancelled)</option>
      <option value="GTD">GTD(Good till day)</option>
    </select>
    <input type="hidden" name="stock" value="{{ticker}}">
    <input type="submit" name="mkt" value="Submit">
  </form>

  <br><h3>Limit</h3>
  <form class="Buy-lmt" action="/viewstock/stockinfo/{{ticker}}" method="post" onsubmit="return checkForTheConditionlmt();">
    {% csrf_token %}
    <label for="">Order Price: </label>
    <input type="number" id= 'orderprice_lmt' step="any" name="order-price"  required onchange='orderpricelmt()' min="1" value="0">
    <span id="error_orderprice_lmt"></span>
    <label for="">Quantity: </label>
    <input type="number" id="quantity_lmt" step="any" name="quantity"  required max="100000" min='1' value="0" onchange="quantitylmt()"><br>
    <small>Please note that if you do not have enough cash when the price drops to your entered price, the order will get cancelled. It will not adjust the quantity.</small>
    <h5>Total Amount: Rs <span id="total_lmt">0</span> </h5>
    <h4>
    <label for="lmttakeprofitcheckbox">Take profit:</label>
    <input type="checkbox" id='lmttakeprofitcheckbox' name="takeprofit" value="" onclick="checkboxtakeprofitlmt();
                                                                              document.getElementById('lmt-1').disabled = !this.checked;
                                                                               document.getElementById('lmt-2').disabled = !this.checked;
                                                                               document.getElementById('lmt-3').disabled = !this.checked;">
    </h4>
    <label for="">Price: </label>
    <input type="number" step="any" id="lmt-1" required disabled name="price-profit" value="" onchange = "lmtprofitprice()">
    <label for="">Percentage: </label>
    <input type="number" step="any" id="lmt-2" required disabled name="percentage-profit" value="" onchange="lmtprofitpercent()">
    <label for="">Change: </label>
    <input type="number" step="any" id="lmt-3" required disabled name="value-profit" value="" onchange = "lmtprofitchange()">
    <span id="error_takeprofit_lmt"></span>
    <h4>
    <label for="stoplosslmt">Stop Loss:</label>
    <input type="checkbox" id='stoplosslmt' name="stoploss" value="" onclick="checkboxstoplosslmt();
                                                                           document.getElementById('lmt-4').disabled = !this.checked;
                                                                           document.getElementById('lmt-5').disabled = !this.checked;
                                                                           document.getElementById('lmt-6').disabled = !this.checked;">
    </h4>
    <label for="">Price: </label>
    <input type="number" step="any" id="lmt-4" required disabled name="price-loss" value="" onchange="lmtlossprice()">
    <label for="">Percentage: </label>
    <input type="number" step="any" id="lmt-5" required disabled name="percentage-loss" value="" onchange="lmtlosspercent()">
    <label for="">Change: </label>
    <input type="number" step="any" id="lmt-6" required disabled name="value-loss" value="" onchange="lmtlosschange()"><br>
    <span id="error_stoploss_lmt"></span>
    <label for="">Validity: </label>
    <select class="" name="validity" id="validity-lmt">
      <option value="GTC">GTC(Good till cancelled)</option>
      <option value="GTD">GTD(Good till day)</option>
    </select>
    <input type="hidden" name="stock" value="{{ticker}}">
    <input type="submit" name="lmt" value="Submit">
  </form>

<script type="text/javascript">
    function checkForTheCondition(){
      change_quantity_mkt();
      //console.log(document.getElementById("error_takeprofit_mkt").textContent)
      var q_error = document.getElementById('error_quantity_mkt').innerText;
      var p_error = document.getElementById('error_takeprofit_mkt').innerText;
      var l_error = document.getElementById('error_stoploss_mkt').innerText;
      if(q_error.localeCompare('')==0 && p_error.localeCompare('')==0 && l_error.localeCompare('')==0){
        return true;
      }
      else{
        return false;
      }
    }
    function checkForTheConditionlmt(){
      var q_error = document.getElementById('error_orderprice_lmt').innerText;
      var p_error = document.getElementById('error_takeprofit_lmt').innerText;
      var l_error = document.getElementById('error_stoploss_lmt').innerText;
      if(q_error.localeCompare('')==0 && p_error.localeCompare('')==0 && l_error.localeCompare('')==0){
        return true;
      }
      else{
        return false;
      }
    }
    function spanfunc(){
        var span = document.getElementById("price-buying-capacity").innerText;
        var price = parseFloat(document.getElementById("price-buying-capacity").innerText);
        var amt = parseFloat('{{cash}}');
        document.getElementById('buyingcapacity').innerHTML =  Math.floor(amt/price);
        if(span.localeCompare('') == 0)
        {setTimeout(spanfunc,2000)}
    }
    function change_quantity_mkt(){
      var q = parseInt(document.getElementById('quantity-mkt').value)
      var s = Math.floor(q)
      document.getElementById('quantity-mkt').value=s
      var max = parseInt(document.getElementById('buyingcapacity').innerText)
      var error = document.getElementById("error_quantity_mkt")
      document.getElementById('total_mkt').textContent = (parseFloat(document.getElementById("price-buying-capacity").innerText)*s).toFixed(2)
      if(s<=0)
      {
        error.textContent = "Please enter a number greater than 0"
        error.style.color = "red"
      }
      else if(s>max)
      {
        error.textContent = "You do not have the cash to buy this quantity"
        error.style.color = "red"
      }
      else{
        error.textContent = ""

      }
    }
    function checkboxtakeprofitmkt(){
      var error = document.getElementById("error_takeprofit_mkt");
      error.textContent = "";
    }
    function mktlossprice(){
      var p = document.getElementById('mkt-4').value
      var current = parseFloat(document.getElementById("price-buying-capacity").innerText)
      var change = current - p;
      var percent = change/current * 100;
      document.getElementById('mkt-5').value = percent.toFixed(2);
      document.getElementById('mkt-6').value = change.toFixed(2);
      errorcheckmktloss();
    }
    function mktlosspercent(){
      var percent =   document.getElementById('mkt-5').value;
      var current = parseFloat(document.getElementById("price-buying-capacity").innerText)
      var change = current*percent/100;
      var price = current-change;
      document.getElementById('mkt-4').value = parseFloat(price).toFixed(2);
      document.getElementById('mkt-6').value = change.toFixed(2);
      errorcheckmktloss();
    }
    function mktlosschange(){
      var change = document.getElementById('mkt-6').value;
      var current = parseFloat(document.getElementById("price-buying-capacity").innerText)
      var price = parseFloat(current) - parseFloat(change);
      var percent = change/current * 100;
      document.getElementById('mkt-5').value = parseFloat(percent).toFixed(2);
      document.getElementById('mkt-4').value = parseFloat(price).toFixed(2);
      errorcheckmktloss();
    }
    function errorcheckmktloss(){
      var percent = document.getElementById('mkt-5').value;
      p = parseFloat(percent);
      var error = document.getElementById("error_stoploss_mkt")
      var price = document.getElementById('mkt-3').value
      if(parseFloat(price)<=0){
        error.textContent = "The price must be greater than 0"
        error.style.color = "red"
      }
      else if(p<0){
        error.textContent = "The price must be lesser than the current price"
        error.style.color = "red"
      }
      else{
        error.textContent = "";
      }
    }
    function checkboxstoplossmkt(){
      var error = document.getElementById("error_stoploss_mkt");
      error.textContent = "";
    }
    function mktprofitprice(){
      var p = document.getElementById('mkt-1').value
      var current = parseFloat(document.getElementById("price-buying-capacity").innerText)
      var change = p - current;
      var percent = change/current * 100;
      document.getElementById('mkt-2').value = percent.toFixed(2);
      document.getElementById('mkt-3').value = change.toFixed(2);
      errorcheckmktprofit();
    }
    function mktprofitpercent(){
      var percent =   document.getElementById('mkt-2').value;
      var current = parseFloat(document.getElementById("price-buying-capacity").innerText)
      var change = current*percent/100;
      var price = change+current;
      document.getElementById('mkt-1').value = parseFloat(price).toFixed(2);
      document.getElementById('mkt-3').value = change.toFixed(2);
      errorcheckmktprofit();
    }
    function mktprofitchange(){
      var change = document.getElementById('mkt-3').value;
      var current = parseFloat(document.getElementById("price-buying-capacity").innerText)
      var price = parseFloat(change)+parseFloat(current);
      var percent = change/current * 100;
      document.getElementById('mkt-2').value = parseFloat(percent).toFixed(2);
      document.getElementById('mkt-1').value = parseFloat(price).toFixed(2);
      errorcheckmktprofit();
    }
    function errorcheckmktprofit(){
      var percent = document.getElementById('mkt-2').value;
      p = parseFloat(percent);
      var error = document.getElementById("error_takeprofit_mkt")
      var price = document.getElementById('mkt-1').value
      if(parseFloat(price)<=0){
        error.textContent = "The price must be greater than 0"
        error.style.color = "red"
      }
      else if(p<0){
        error.textContent = "The price must be greater than the current price"
        error.style.color = "red"
      }
      else{
        error.textContent = "";
      }
    }
    function orderpricelmt(){
        var price = parseFloat(document.getElementById('orderprice_lmt').value);
        var current = parseFloat(document.getElementById("price-buying-capacity").innerText);
        var error = document.getElementById('error_orderprice_lmt');
        var quantity = parseFloat(document.getElementById('quantity_lmt').value)
        document.getElementById('lmt-1').value = "";
        document.getElementById('lmt-2').value = "";
        document.getElementById('lmt-3').value = "";
        document.getElementById('lmt-4').value = "";
        document.getElementById('lmt-5').value = "";
        document.getElementById('lmt-6').value = "";
        document.getElementById('total_lmt').value = price * quantity;
        if(price>=current){
          error.textContent = "The price must be lesser than the current price"
          error.style.color = "red"
        }
        else{
          error.textContent = "";
        }
    }
    function quantitylmt(){
      var price = parseFloat(document.getElementById('orderprice_lmt').value);
      var quantity = parseFloat(document.getElementById('quantity_lmt').value)
      document.getElementById('total_lmt').textContent = price * quantity;
    }
    function checkboxtakeprofitlmt(){
      var error = document.getElementById("error_takeprofit_lmt");
      error.textContent = "";
    }
    function lmtlossprice(){
      var p = document.getElementById('lmt-4').value
      var current = parseFloat(document.getElementById('orderprice_lmt').value);
      var change = current - p;
      var percent = change/current * 100;
      document.getElementById('lmt-5').value = percent.toFixed(2);
      document.getElementById('lmt-6').value = change.toFixed(2);
      errorchecklmtloss();
    }
    function lmtlosspercent(){
      var percent =   document.getElementById('lmt-5').value;
      var current = parseFloat(document.getElementById('orderprice_lmt').value);
      var change = current*percent/100;
      var price = current-change;
      document.getElementById('lmt-4').value = parseFloat(price).toFixed(2);
      document.getElementById('lmt-6').value = change.toFixed(2);
      errorchecklmtloss();
    }
    function lmtlosschange(){
      var change = document.getElementById('lmt-6').value;
      var current = parseFloat(document.getElementById('orderprice_lmt').value);
      var price = parseFloat(current) - parseFloat(change);
      var percent = change/current * 100;
      document.getElementById('lmt-5').value = parseFloat(percent).toFixed(2);
      document.getElementById('lmt-4').value = parseFloat(price).toFixed(2);
      errorchecklmtloss();
    }
    function errorchecklmtloss(){
      var percent = document.getElementById('lmt-5').value;
      p = parseFloat(percent);
      var error = document.getElementById("error_stoploss_lmt")
      var price = document.getElementById('lmt-4').value
      if(parseFloat(price)<=0){
        error.textContent = "The price must be greater than 0"
        error.style.color = "red"
      }
      else if(p<=0){
        error.textContent = "The price must be lesser than the order price"
        error.style.color = "red"
      }
      else{
        error.textContent = "";
      }
    }
    function checkboxstoplosslmt(){
      var error = document.getElementById("error_stoploss_lmt");
      error.textContent = "";
    }
    function lmtprofitprice(){
      var p = document.getElementById('lmt-1').value
      var current = parseFloat(document.getElementById('orderprice_lmt').value);
      var change = p - current;
      var percent = change/current * 100;
      document.getElementById('lmt-2').value = percent.toFixed(2);
      document.getElementById('lmt-3').value = change.toFixed(2);
      errorchecklmtprofit();
    }
    function lmtprofitpercent(){
      var percent =   document.getElementById('lmt-2').value;
      var current = parseFloat(document.getElementById('orderprice_lmt').value);
      var change = current*percent/100;
      var price = change+current;
      document.getElementById('lmt-1').value = parseFloat(price).toFixed(2);
      document.getElementById('lmt-3').value = change.toFixed(2);
      errorchecklmtprofit();
    }
    function lmtprofitchange(){
      var change = document.getElementById('lmt-3').value;
      var current = parseFloat(document.getElementById('orderprice_lmt').value);
      var price = parseFloat(change)+parseFloat(current);
      var percent = change/current * 100;
      document.getElementById('lmt-2').value = parseFloat(percent).toFixed(2);
      document.getElementById('lmt-1').value = parseFloat(price).toFixed(2);
      errorchecklmtprofit();
    }
    function errorchecklmtprofit(){
      var percent = document.getElementById('lmt-2').value;
      p = parseFloat(percent);
      var error = document.getElementById("error_takeprofit_lmt")
      var price = document.getElementById('lmt-1').value
      if(parseFloat(price)<=0){
        error.textContent = "The price must be greater than 0"
        error.style.color = "red"
      }
      else if(p<=0){
        error.textContent = "The price must be greater than the order price"
        error.style.color = "red"
      }
      else{
        error.textContent = "";
      }
    }
    function sellquantity(){
      var x = parseFloat(document.getElementById('quantitysell').value)
      var y = parseInt('{{stock}}')
      var error = document.getElementById('errorsellquantity')
      if(x>y){
        error.textContent = "You do not own this much of this stock"
        error.style.color = 'red';
      }
      else{
        error.textContent = ""
      }
    }
    function checkForTheConditionsell(){
      error = document.getElementById('errorsellquantity').textContent;
      if(error.localeCompare('') == 0){
        return true;
      }
      else{
        return false;
      }
    }
</script>

  <br><h2>Sell</h2>
  <h3>Your current holdings of this stock: {{stock}}</h3>
  <form class="" action="/viewstock/stockinfo/{{ticker}}" method="post" onsubmit="return checkForTheConditionsell();" >
    {% csrf_token %}
    <label for="">Quantity</label>
    <input type="number" id="quantitysell" name="quantity" value="" min:'1' required onchange='sellquantity()'>
    <span id="errorsellquantity"></span>
    <input type="hidden" name="stock" value="{{ticker}}">
    <input type="submit" name="sell" value="Submit">
  </form>


</div>



 </div>
 </div>

 <script type="text/javascript">
   const $price = $('.price');

   if ( window.history.replaceState ) {
     window.history.replaceState( null, null, window.location.href );
   }

   function takeprofit(){
     console.log('Reached');
   }

   var count = 0;

   function update(){
     const $price = $('.price');
     const $change = $('.change');
     const $pchange = $('.pchange');
     var xhr = new XMLHttpRequest();
     var url = "{% url 'viewstock:get_data' %}?data=" + encodeURIComponent(JSON.stringify({"stock": "{{ticker}}"}));
     xhr.open("GET", url, true);
     xhr.setRequestHeader("Content-Type", "application/json");
     xhr.onreadystatechange = function () {
     if (xhr.readyState === 4 && xhr.status === 200) {
       var json = JSON.parse(xhr.responseText);
       $price.html(json.current);
       $change.html(json.change);
       $pchange.html(json.pchange);
         }
     };
     xhr.send()
     count=count+1;
     if(count<=30)
     {
       spanfunc();
       setTimeout(update,10000)
     }
     else
     {
       //alert('You were inactive for a long time. Your session has timed out. Please refresh the page to update the stocks again.')
       if(!alert('You were inactive for a long time. Your session has timed out. Please refresh the page to update the stocks again.')){window.location.reload();}
       console.log('session timed out')
     }
   }


   function init(){
     const $price = $('.price');
     const $change = $('.change');
     const $pchange = $('.pchange');
     const $open = $('.open');
     const $dayhigh = $('.dayhigh');
     const $daylow = $('.daylow');
     const $high52 = $('.high52');
     const $low52 = $('.low52');
     const $previousclose = $('.previousclose');
     var xhr = new XMLHttpRequest();
     var url = "{% url 'viewstock:init_get_data' %}?data=" + encodeURIComponent(JSON.stringify({"stock": "{{ticker}}"}));
     xhr.open("GET", url, true);
     xhr.setRequestHeader("Content-Type", "application/json");
     xhr.onreadystatechange = function () {
       if (xhr.readyState === 4 && xhr.status === 200) {
         var json = JSON.parse(xhr.responseText);
         $price.html(json.current);
         $change.html(json.change);
         $pchange.html(json.pchange);
         $open.html(json.open);
         $dayhigh.html(json.dayhigh);
         $daylow.html(json.daylow);
         $high52.html(json.high52);
         $low52.html(json.low52);
         $previousclose.html(json.previousclose);
       }
     };
     xhr.send()
   }

   init();
   update();


 </script>


 {% endblock  %}
